.sidebar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @media (min-width: 620px) {
    flex-grow: 0.35;
    // min-width: 400px;
  }

  .sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-shrink: 0;

    @media (min-width: 620px) {
      border-right: 1px solid lightgray;
    }

    .sidebar__avatar {
      display: flex;
      align-items: center;

      & .MuiAvatar-circle {
        width: 50px;
        height: 50px;
      }
    }

    .sidebar__headerRight {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > .MuiIconButton-root {
        margin-right: 5px;

        & .MuiSvgIcon-root {
          width: 30px;
          height: 30px;

          @media (min-width: 620px) {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  .sidebar__search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 40px;
    padding: 3%;
    flex-shrink: 0;

    .sidebar__searchContainer {
      display: flex;
      align-items: center;
      background-color: white;
      width: 100%;
      height: 35px;
      border-radius: 20px;

      & .MuiSvgIcon-root {
        font-size: 35px;
        color: gray;
      }

      & input {
        margin-left: 10px;
        border: none;
      }
    }
  }

  .sidebar__chats {
    flex-grow: 1;
    background-color: white;

    @media (min-width: 620px) {
      overflow: scroll;
    }
  }
}
